includes:
    - phpstan-baseline.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 5

    reportUnmatchedIgnoredErrors: false
    checkNullables: true
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: trait.unused
#    excludePaths:
