parameters:
	ignoreErrors:
		-
			message: '#^Offset 1 on array\{list\<string\>, list\<non\-empty\-string\>\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/OpenApiDereferencer.php
